body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  background-color: #000;
color: white;
height: 5vh;
display: flex;
justify-content: space-between;
}

.header span {
  margin-left: 60px;
  position: absolute;
  padding-top: 5px;
  padding-bottom: 5px;
  text-transform: uppercase;
  font-weight: bolder;
}

.wrapper {
  position: relative;
}
img {
  position: absolute;
  height: 5vh;
  width: 5vw;
  object-fit: cover;
}

.input-cover{
  background-color: #000;
  display: flex;
  padding: 3rem 1.5rem 1.5rem 1.5rem;
  height: 48vh;

}

h4{
  border: none;
  background-color: #282828;
  color: #fff;
}

.input {
  background-color: #282828;
  color: #fff;
  border: none;
  border-radius: 5px;
  width: 30%;
  padding: 2rem;
}
  
.input::-webkit-scrollbar {
  width: 10px;
}

.input::-webkit-scrollbar-track {
  background: #282828;
}
 
.input::-webkit-scrollbar-thumb {
  background: #777; 
}

.input::-webkit-scrollbar-thumb:hover {
  background: #777;
}

.width {
  background-color: #000;
  width: 2%;
}

.output {
  display: flex;
  height: 50vh;
}